<style>
  
    .btn-primary {
        float: left;
        
    }
    p {
        float: left;
    }
    h4 {
        color: forestgreen
    }
    

</style>

<div class="task">
    <ul>
        <li><a href="/sign-out">Sign Out</a></li>
        <li><a href="/user-edit-profile">Edit Profile</a></li>
        <li><a href="/user-delete-award">Awards History</a></li>
        <li><a href="/create-awards">Create Award</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>

</div>
<h3>Award History</h3>

<div>
    {{noAwardMessage}}
</div>
<h5>{{deleteMessage}}</h5>
{{#if payload}}
<div class="background">

    <div>
        <table>
            <thead>
            <th>Award ID</th>
            <th>Award Name</th>
            <th>Award Recipient</th>
            <th>Award Created Date</th>
            </thead>

            <tbody>
                {{#each payload}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{recipient_first}} {{recipient}}</td>
                    <td>{{date}}</td>
                    <td><button onclick="deleteAward({{id}})">DELETE</button></td>
                </tr>
                {{/each}}

            </tbody>

        </table>
    </div>

    <div>
        <h2>{{deleteMessage}}</h2>
    </div>
    <p id="demo"></p>
    <p id="deleteMessage" {{deleteMessage}}></p>
    <br />
    <br />
    <div>
        <p><a href="/user-delete-award">Refresh the Page</a>  to view the  changes.</p>
    </div>

    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Attention</h4>
                </div>
                <div class="modal-body">
                    <p>Selected award row has been deleted from your record.</p>
                    <p class="text-warning"><small>Please refresh the page to view the changes .</small></p>
                </div>
               
                <div class="modal-footer">
                    <button type="button"  id="cancel"class="btn btn-default" data-dismiss="modal">OK</button>
                   <!--  <button  type="button"   id="confirm" class="btn btn-primary" data-dismiss="modal">YES</button>     -->
                    <div>
                     
                    </div>
                </div>
           
            </div>
        </div>
    </div>



{{/if}}
    <script>
        function deleteAward(id) {

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log("Successfully deleted user!")

                }
            };
            data = {
                "id": id
            };
            console.log("your selected id is", +id);
            var result = getConfirmation();
            if (result) {
               // var message = "Selected row has been succesfully deleted from your record";
               /// document.getElementById("deleteMessage").innerHTML = message.innerHTML;
                xhttp.open("POST", "/user-delete-award/deleteAward");
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send(JSON.stringify(data));
                
            
   
        }

        window.onload = function () {
            document.getElementById("form1").onsubmit = function () {
                window.location.replace("/user-delete-award");
                return false;
            }
        }
        function getConfirmation() {
            $("#myModal").modal('show');
            var answer = document.getElementById("confirm");
            //if (answer = "YES") {
              //  console.log(answer);
                return true; // default true.. need to change this
            }
          //  else
              //  return false;
        }

       
    </script>
