<ul>
    <li><a href="/sign-out">Sign Out</a></li>
    <li><a href="/create-awards">Create Award</a></li>
    <li><a href="/user-edit-profile">Edit Profile</a></li>
    <li><a href="/user-delete-award">My Awards History</a></li>
</ul>
<h1>Here is your Award History! </h1>

<h2>{{deleteMessage}}</h2>
<div class="background">
    <div>
        <table>
            <thead>
            <th>Award ID</th>
            <th>Award Name</th>
            <th>Award Recipient</th>
            <th>Award Created Date</th>
            </thead>

            <tbody>
                {{#each payload}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{recipient}}</td>
                    <td>{{date}}</td>
                    <td><button onclick="deleteAward({{id}})">DELETE</button></td>
                </tr>
                {{/each}}
                
            </tbody>

        </table>
    </div>
    <div>
        <h2>{{deleteMessage}}</h2>
    </div>
   
</div>



<script>
    function deleteAward(id) {
   
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200) {
                console.log("Successfully deleted user!")
        
            }
        };
        data = {
            "id" : id
        };
        console.log("your selected id is", +id);
        
        xhttp.open("POST", "/user-delete-award/deleteAward");
        xhttp.setRequestHeader("Content-type", "application/json");
     xhttp.send(JSON.stringify(data));
    }
</script>